

.container1>img{
    position: sticky;
    top: 0px;
    
    width: 1800px;
    height: 1200px;
}

.section1{
    position: relative;
    left: 200px;
    bottom: 1000px;

}
.Description{
    font-size: 100px;
    font-weight: bold;
    color: rgb(255, 196, 0);
}
.section11>h4{
    color: white;
    display: inline;
    margin-left: 30px;
    font-weight: bold;
   
}

.section11{
    padding: 5%;
    margin-left: 5%;
    width: 60%;
    border: solid white;
    border-radius: 70px 0px 70px 0px;
    text-align: center ;
    
}
#About{
    position: relative;
    background-image: url(../../../images/churchInside25.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
   
    height: 600px;
    
    text-align: center;
  
    
  box-shadow: 10px 10px 18px 18px#888888;
  bottom: 600px;
}
.container{
    margin-bottom: 20%;
}
#About>h1,#About>p{
color: rgb(254, 254, 254);
font-weight: bold;
font-size: 70px;
font-family: 'Courier New', Courier, monospace;

}

#About>button{
    width: 15%;
    margin-left: 15px;
    border-radius: 25px;
    margin-top: 0%;
    
}
#About>p{
    
    width: 50%;
    margin-left: 25%;
    font-size: 25px;
    line-height: 60px;
}
#About>h1{
    text-decoration: underline;

}
#About>button:hover{
    background-color: white;
    color: rgba(255, 179, 15, 0.903);
    border: none;
    font-weight: bold;
}


#Value>h1{
    position: relative;
text-align: center;
bottom: 200px;
}
.container-lg{
    display: flex;
    flex-direction: row;
}
.container-lg>p{
    width: 100%;
    font-family:papyrus;
    font-weight: bold;
    font-size: 25px;


}
.container-lg>p>img{
    width: 30%;
}
.container-lg>.Holiness{
    color: green;
    transition: 1.3s;
}
.container-lg>.Holiness:hover{
    position: relative;
    left: 0px;
    bottom: 100px;
    border: #888888 solid;
    padding: 2%;
    background-color: green; 
    width: 100%;
    height: 350px; 
    border-radius: 25px; 
    padding-bottom: 3%;  
    cursor: pointer;
    margin-left: 10%;
}
.container-lg>.Holiness:hover::after{ 
    color: white;
    position: relative;
    top: 70px;
    width: 100%;
    content:' Hebrews 12:14  "Seek peace with all, and sanctification, without which no one will see the Lord."';
    
}


.container-lg>.Love{
    color: rgb(0, 0, 0);
    transition: 1.3s
    

}
.container-lg>.Love:hover{
    position: relative;
    right: 100px;
    bottom: 100px;
    border: #888888 solid;
    padding: 2%;
    background-color: black; 
    width: 100%;
    height: 450px;  
    border-radius: 25px; 
    padding-bottom: 3%;  
    cursor: pointer; 
    margin-left: 10%;
}

.container-lg>.Love:hover::after{
    color: white;
    position: relative;
    top: 70px;
    width: 10%;
    content:' 1Corinthians13:   "And when I would distribute all my goods for the food of the poor, when I would even give my body to be burned, if I have not charity, it is of no use to me."';
    
}
.container-lg>.Equilibrium{
    color: rgba(215, 158, 0, 0.968);
    transition: 1.3s
       
}
.container-lg>.Equilibrium:hover{
    position: relative;
    right: 150px;
    bottom: 100px;
    border: #888888 solid;
    padding: 1%;
    background-color: rgba(215, 158, 0, 0.968); 
    width: 100%;
    height: 350px;  
    border-radius: 25px; 
    padding-bottom: 3%;
    cursor: pointer;
    margin-left: 10%;

}
.container-lg>.Equilibrium:hover::after{
    color: white;
    position: relative;
    top: 70px;
    width: 10%;
    content:' Ecclesiastes 3:1   "There is a time for everything, a time for everything under heaven."';
    
}
#Value{
    position: relative;
    height: 100px;
    bottom: 200px;
}
.container-Ction{
    position: relative;
    bottom: 450px;
    left: 50px;
    margin-top: 2%;
    color: white;
   
}
.container-Ction>h1{
    font-family:Impact ;
    font-size: 70px;
    text-align: center;
}
.container-Ction>p{
    font-size: 120%;
    line-height: 2.3em;
    width: 70%;
    float: center;
    text-align: center;
    margin-left: 15%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    
  
}
.container-Ction>button{
    margin-left: 45%;
    background-color: transparent;
    border: white solid;
    color: white;
    font-size: 30px;
    border-radius: 15px;
    transition: 0.7s
   
}
.container-Ction>button:hover{
    background-color: white;
    color: rgb(107, 107, 107);
}
#BioJeremie>.JeremieBio{
    margin-top: 50%;
    width: 50%;
}

#BioJeremie{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    bottom: 585px;
    background-color: rgb(240,241,243);
    padding-top: 10%;
    padding-left: 10%;
    width: 100%;
    height: 600px;
}

#BioJeremie>img{
    position: relative;
    margin-left: 20%;
    
}
.JeremieBio{
    position: relative;
    bottom: 600px;
    width: 200px;
   
}
.JeremieBio>h1{
    position: relative;
    display: inline;
font-size: 35px;
font-weight: bold;

}
.JeremieBio>p{
    margin-top: 5%;
    font-family: 'Courier New', Courier, monospace;
    
    
}
.JeremieBio>button{
    border: none;
    background-color: #888888;
    color: white;
    width: 20%;
    padding: 2% 20% 2% 5%;
    margin-left: 20%;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    transition: 0.7s
    
}
.JeremieBio>button:hover{
    background-color: #ffffff; 
    color: #888888; 
}
#program{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;


}

#program>div>img{
    width: 150px;
    border-radius: 50%;
    margin-left: 10%;
}
#program1{
    position: relative;
    bottom: 200px;
}
#program1>h1{
    position: relative;
    bottom: 100px;
    margin-left: 35%;
}
#program>div>#imgProgram1{
  width: 150px; 
  
}
#program>div{
    margin: 5%;
}
#imgProgram1{
    width: 150%;
    height: 150px;
}
#program>div:hover{
    box-shadow: 20px 20px 50px grey;
    padding: 1%;
    cursor: pointer;
    transition: 0.7s
   

}
.btn-warning{
    transition: 0.3s}
#program>div:active{
     transform:scale(1.5);
     border-radius: 25px;
}
#program>div>p{
    font-family: 'Courier New', Courier, monospace;
}
#imgProgram2{
    position: relative;
    right: 5%;;
   

}
#program>div>p{
margin-top: 5%;
text-align: center;
}
.container4{
    position: relative;
    bottom: 150px;
}
.container-Ction>button{
  transition: 0.7;  
}
#Extension{
    width: 30%;
}
#Extension2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#Extension>img{
    width: 100%;
}
#Extension1{
    position: relative;
    bottom: 400px;
    text-align: center;
}
#Extension1>h1{
margin: 5%;
}
.Extension01{
    position: relative;
  
    background-color: rgb(220,218,219);
  
   
   
}
#Extension{
    margin-bottom: 10%;
}
.Extension01>h1{
   position: relative;
   bottom: 100px;
   font-weight: bold;
  
}
.Extension01{
    background-image:url('../../../images/ExtensionBack.jpg') ;
    background-repeat: no-repeat;
    background-size: 100%;
  
   
 
}








#Actualite1{
    position: relative;
    bottom: 200px;
    text-align: center;
}
#Actualite1>h1{
margin: 5%;
}
.Actualite01{
    position: relative;
  
    background-color: rgb(220,218,219);
  
   
   
}

.Actualite01>h1{
   position: relative;
   bottom: 100px;
   font-weight: bold;
  
}
.Actualite01{
    background-image:url('../../../images/ExtensionBack.jpg') ;
    background-repeat: no-repeat;
    background-size: 100%;
  
   
 
}









#Extension>p{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
#Extension>h4{
    position: relative;
    bottom: 20px;
    font-size: 35px;
    font-weight: 500;

   
}
#Extension:hover{
    box-shadow: 20px 20px 50px grey;
    padding: 1%;
    cursor: pointer;
    transition: 0.7s
}
#Extension:active{
    transform:scale(1.5);
    border-radius: 25px;
}
.offering001{
    display: flex;
    flex-direction: row;



    }
.offering001>div{
    width: 30%;
}
.offering0001{
    width: 100%;
}
#Offerings>h1,#Chanel>h1{
    text-align: center;
    font-size: 50px;
    margin: 2%;
    font-weight: bold;
}
#Offerings{
    position: relative;
    bottom: 600px;
   
}
#Offerings>p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 30%;
    text-align: center;
    margin: 5%;
    margin-left: 35%;
    font-size: 30px;

}
.offering001{
  
   background-color: rgb(236, 236, 236);
   width: 100%;
   height: 600px;
   box-shadow: 20px 20px 50px grey;
   border-radius: 25px;

}

.offering001>#Offerings1{
    margin: 2%;
    padding-bottom: 50%;
    margin-right: 15%;
    border: none;
    background-color: transparent;
    font-size: 40px;
    color: white;
    font-weight: bold;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 55px;
    border-radius: 0px 0px 50px 50px;
    height: -200px;
    padding: 4%;
    padding-top:20% ;
    padding-bottom: 20%;
    height: 70px;
    
    
    
    
   
    
    

}
.offering001{
  background-color: #deae1e;
}
.offering001>#Offerings1:hover{
    
    
 
  
  
    background-image: url('../../../images/construbution.jpg');
    
    
    
    background-position-y: 300px;
    border-radius: 50px;
    
    
    transition: 3s;
    
}



.offering001>#Offerings2{
    margin: 2%;
    padding-bottom: 50%;
    margin-right: 30%;
    border: none;
    background-color: transparent;
    font-size: 40px;
    color: white;
    font-weight: bold;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 55px;
    border-radius: 0px 0px 50px 50px;
   
    padding: 4%;
    padding-top:20% ;
    padding-bottom: 20%;
    height: 20px;
    
    
    
    
   
    

}
.offering001>#Offerings2:hover{
    
  
  
    background-image: url('../../../images/construbution.jpg');
    
    
   
    background-position-y: 280px;
    border-radius: 50px;
    
    
    transition: 3s;

    
}
.offering001>#Offerings3{
   
    margin: 2%;
    padding-bottom: 50%;
    margin-right: 15%;
    border: none;
    background-color: transparent;
    font-size: 40px;
    color: white;
    font-weight: bold;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 55px;
    border-radius: 0px 0px 50px 50px;
    height: -200px;
    padding: 4%;
    padding-top:20% ;
    padding-bottom: 20%;
    height: 70px;
    
    
    
    
   

}
.offering001>#Offerings3:hover{
  
  
  
    background-image: url('../../../images/construbution.jpg');
    background-position-y: 280px;
    border-radius: 50px;
    
    transition: 3s;

    
}
#Offerings3{
    position: relative;
    right: 200px;
 
}

.YoutubeChainePhoto{
    width: 15%;
}
.facebook{
    width: 7%;
}
#Chanel{
    position: relative;
    bottom: 500px;
    right: 50px;
}
#Chanel>p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    margin: 2%;
    margin-top: 7%;
    margin-left: 20%;
    font-size:40px;

}
#Chanel>p>a{
margin: 2%;
}
#YoutubeVideo{
    margin-left: 10%;
}
#BioBtn{
   
    text-align: center;
    padding-right: 150px;
    
}
@media only screen and (max-width: 600px) {
    #About>h1{ 
     font-size: 20px; 
     font-weight: bold;
    } 
    #About>p{
    
        width: 100%;
        margin-left: 0%;
        font-size: 17px;
        line-height:normal;
    }
    #About{
        margin-bottom: -100%;
    }
    .btn-warning{
        position: relative;
        bottom: 2%;
    }
    .container-lg{
        position: relative;
        bottom: 70px;
    }
    .container-lg{
        display: flex;
        flex-direction: column;
        bottom: 10%;
    }
.container-lg>p{
    position: relative;
    bottom: 100px;
    margin: 5%;
}
#Value{
    margin-top: 50%;
}
.container-lg>.Equilibrium:hover{
    margin-left: 50%;
}
.container-lg>.Love:hover{
    margin-left: 35%;
}
.container4{
    position: relative;
    top: 200px;
}
.container4>img{
width: 100%;
height: 300px;
}
.container-Ction>h1{
   
    font-size: 15px;
    line-height: normal;
}  
.container-Ction>p{
    font-size: 20px;
    line-height: normal;
} 
 
.container-Ction{
    position: relative;
    left: -1%;
  
    margin-top: 50%;
    width: 100%;
    
    
}
.container-Ction>h1{
    font-size: 20px;
}
.container-Ction>p{
    font-size: 11px;
}
.container4{
    margin-left: 0%;
}
.container-Ction>button{
    margin-left:35% ;
}
#BioJeremie{
    margin-top: 500px;
}
#program1>h1{
    font-size: 25px;
    margin-bottom: 80%;
}
#program{
    position: relative;
    right: 10%;
    bottom: 350px;
    
     
 }
 #sundaySchool{
    font-size: 25px;
    font-weight: bold;
 }


#Extension2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#Extension{
    position: relative;
    left: 30%;
}

.Extension01 {
    
    background-repeat: repeat;
    background-size: 100%;
}
.Extension{
    width: 80%;
}
.btn-warning{
    position: relative;
    top: 262px;
}
#Offerings{
    position: relative;
    top: -400px;
    color: #F0F1F3;
}
#Offerings>p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    text-align: center;
    margin: 5%;
    margin-left: 0%;
    font-size: 30px;
}
.offering001{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20%;
    padding-bottom: 150px;
    

}
#Offerings3 {
    position: relative;
    right: 0px;
}
#Chanel {
    position: relative;
    bottom: 350px;
    right: 50px;
    
}
#Chanel>h1{
    font-size: 40px;
    margin-right: -20%;
}
.YoutubeChainePhoto {
    width: 50%;
}
.facebook {
    width: 20%;
}
#YoutubeVideo {
  position: relative;
  left: 5%;
    width: 100%;
}
.border-bottom>div>a>svg{
    width: 100%;
}
svg{
    width: 150%;
}
.text-muted {
    position: relative;
    top: -100px;
    background-color: #F0F1F3;
}
}
