

.Logo1{
    position: relative;
    top: 25px;
    width: 15%;
    border-radius: 50px;
    
}
.navbar-brand{
    margin-left: 10%;
}
.navbar-collapse{
    margin-right: 5%;

}
.navbar-brand>h1{
    position: relative;
    margin-left: 17%;
    color: rgb(255, 196, 0);
    bottom: 40px;   
}
.bg-light{
     
    height: 100px;
    
}
.nav-link{
color: black;
}
.btn-primary>.nav-link{
    color: white;
    font-size: large;
    
   
}
.btn-primary{
    position: relative;
    bottom: 7px;
    padding: 1%;
    border-radius: 25px;
    padding-bottom: 2%;
    border: none;
}
.btn-primary:hover{ background-color:rgb(255, 255, 255);}
#btn{
    color: white;
}
#btn:hover{
    color: black;
    font-weight: bold;
   
}
.ropdown-toggle{
    width:200%;
    background-color: black;
}
.btn-primary{
    color: black;
    background-color: white;
    width: 190%;
    height: 50px;
    position: relative;
    top: 0px;
    right: 10px;
    border-radius: 5px;
}
.dropdown-toggle::after {
    display: none;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

#btn-primary{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}





