

@media only screen and (max-width: 600px) {
   

#NavBar>a{
   position: relative;
   left: 30%;
   bottom: 60px;
} 

#NavBar>a>h1 span{
    display: block;
    font-size: 30px;
    margin-left: 20%;
}
#NavBar>a>img{
    position: relative;
    top: 55px;
    width: 25%;
}

.navbar-toggler{
    position: relative;
    left: 10%;
    bottom: 200px;

}

}