.text-muted{
    position: relative;
    bottom: 500px;
    background-color: #F0F1F3;

}
.text-reset{
    margin-right: 270px;
}
.mt-5{
 position: relative;
 top: 100px;
}
.mb-4>#useful{
    margin-left: 80px;
}
